/*EJECUTAR npm run build PARA VER LAS FUENTES CORRECTAMENTE!!!!*/
$mdc-theme-primary: #488bf4;
@import "../../../node_modules/@material/textfield/mdc-text-field";
@import "../../../node_modules/@material/top-app-bar/mdc-top-app-bar";
@import "../../../node_modules/@material/button/mdc-button";
@import "../../../node_modules/@material/list/mdc-list";
@import "../../../node_modules/@material/menu-surface/mdc-menu-surface";
@import "../../../node_modules/@material/menu/mdc-menu";
@import "../../../node_modules/@material/select/mdc-select";
@import "../../../node_modules/@material/card/mdc-card";
@import "../../../node_modules/@material/image-list/mdc-image-list";
@import "../../../node_modules/@material/typography/mdc-typography";

@font-face {
  font-family: clashFont;
  src: url('../fonts/Supercell-magic-webfont.generated.woff') format('woff');
}

.my-image-list {
  @include mdc-image-list-standard-columns(7);
}


.label {
  color: #fff;
  background: rgba(0, 0, 0, .6);
  padding: 8px 16px;
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 15%;
  border-radius: 0 0 150rem 150rem
}

.demo-width-class {
  width: 400px;
}


#logo {
  position: relative;
  left: 42%;
  z-index: 5;
}

main {
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3vh;

    #inputs {
      margin: 1vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      div {
        margin: 0 1vw;
      }
    }
  }

  img {
    width: 25px;
    height: 25px;
  }

  #list {
    font-family: clashFont, serif;
    display: flex;
    justify-content: center;

    #table-id {
      flex-basis: 80%;
      text-align: center;
      align-items: flex-start;

      th {
        background-color: #488bf4;
        color: #fff;
      }

      tr:nth-child(odd) {
        background-color: #FAFAFA;
        color: #616161;

        td:first-child {
          display: flex;
          align-self: flex-start;
          flex-basis: 10%;
        }

        button {
          background-color: #FAFAFA;
          border: none;

        }
      }

      tr:nth-child(odd):hover {
        background-color: #bbbbbb;

        button {
          background-color: #bbbbbb;
          border: none;
        }
      }

      tr:nth-child(even) {
        background-color: #E0E0E0;
        color: #616161;

        td:first-child {
          display: flex;
          align-self: flex-start;
        }

        button {
          background-color: #E0E0E0;
          border: none;
        }
      }

      tr:nth-child(even):hover {
        background-color: #bbbbbb;

        button {
          background-color: #bbbbbb;
          border: none;
        }
      }
    }
  }
}

//player.html

#member {
  font-family: clashFont, serif;
  display:flex;
  color: #488bf4;
  justify-content: flex-start;
  margin-left: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  section{
    margin-left: 15%;
    ul{
      display: inline-block;
      list-style: none;
    }
  }
}


